In [17]:
import pandas as pd

In [18]:
arrest_data = pd.read_csv('cleaned_arrest_data.csv')
arrest_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5719506 entries, 0 to 5719505
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   Arrest Date      object
 1   Borough          object
 2   Arrest Precinct  int64
 3   X_COORD_CD       float64
 4   Y_COORD_CD       float64
 5   Latitude         float64
 6   Longitude        float64
 7   Zip              int64
dtypes: float64(4), int64(2), object(2)
memory usage: 349.1+ MB

In [19]:
# Remove rows with the specific zip codes to be excluded
zipcodes_to_exclude = [7002, 7008, 7020, 7077]
arrest_data_cleaned = arrest_data[~arrest_data['Zip'].isin(zipcodes_to_exclude)]

In [20]:
# Ensure zipcode is of string type
arrest_data['Zip'] = arrest_data['Zip'].astype(str)

In [21]:
# Extract the year from the date column
arrest_data_cleaned['year'] = pd.to_datetime(arrest_data_cleaned['Arrest Date']).dt.year

C:\Users\simon\AppData\Local\Temp\ipykernel_18216\3949830487.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  arrest_data_cleaned['year'] = pd.to_datetime(arrest_data_cleaned['Arrest Date']).dt.year

In [22]:
# Group by year and zipcode, summing the number of arrests
arrest_data_yearly = arrest_data_cleaned.groupby(['year', 'Zip']).size().reset_index(name='num_arrests')

In [23]:
# Rename columns
arrest_data_yearly.columns = ['year', 'zipcode', 'num_arrests']

In [24]:
arrest_data_yearly

      year  zipcode  num_arrests
0     2006    10001         1803
1     2006    10002         2813
2     2006    10003         2993
3     2006    10005         1688
4     2006    10009         2676
...    ...      ...          ...
3454  2023    11691         1478
3455  2023    11692          419
3456  2023    11693          731
3457  2023    11694          203
3458  2023    11697           11

[3459 rows x 3 columns]

In [25]:
arrest_data_yearly.to_csv('arrest_model.csv', index=False)